.App {
  height: 100vh;
  width: auto;
  background-color: #a9b6a6;
  display: flex;
  flex-direction: column;
  align-items: center;
}

*{
  margin: 0;
  padding: 0;
}

.input-wrapper {
  margin-top: 1rem;
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
  height: 2.5rem;
  padding: 0 15px;
  box-shadow: 0 0 8px #ddd;
  display: flex;
  align-items: center;
}

.search-bar {
  background-color: transparent;
  border: none;
  height: 100%;
  font-size: 1.25rem;
  margin-left: 5px;
  width: 100%;
}

.search-bar:focus {
  outline: none;
}

#search-icon {
  color: royalblue;
}

.results-list {
  width: 110%;
  max-width: 110%;
  background-color: white;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 8px #ddd;
  border-radius: 10px;
  margin-top: 1rem;
  max-height: 300px;
}

.search-result {
  padding: 10px 20px;
}

.search-result:hover {
  background-color: #a9b6a6;
}

.cards-container {
  width: 95%;
  height: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.card {
  text-align: center;
  flex-grow: 1;
}

.card-area {
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
}

.image {
  border: rgb(152, 144, 144);
  width: 200px;
  height: 300px;
  transition: width 0.3s ease, height 0.3s ease;
}

.image:hover {
  width: 220px;
  height: 320px;
}

.summary-page {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center horizontally */
}

.summary-image {
  margin-top: 20px;
  width: 250px; /* Set width of the image */
  height: auto; /* Maintain aspect ratio */
  border: 2px solid #5f5f5f; /* Set border to transparent */
  border-radius: 10px; /* Optional: Add border radius for rounded corners */
  margin-bottom: 20px;
}

.summaries {
  display: flex;
  justify-content: space-between;
}

.summary-good-block,
.summary-bad-block {
  width: 48%; /* Adjust the width as needed */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: Add box shadow for depth */
}

.summary-good-block {
  background-color: #e5f7ed; /* Example background color for the good summary block */
}

.summary-bad-block {
  background-color: #f7e5e5; /* Example background color for the bad summary block */
}

.summary-good-block h3,
.summary-bad-block h3 {
  text-align: center;
  margin-top: 0;
}

.summary-good,
.summary-bad {
  font-size: 16px;
  margin-bottom: 10px;
}

.ol-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center horizontally */
}

ol {
  margin: 5px 0; /* Optional margin */
}

.LoadingScreen {
  background-color: #a9b6a6;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Optional: Adjusts the height to the full viewport height */
}
